---
---

@import "{{ site.theme }}";

body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
