---
---

@import "{{ site.theme }}";

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

#header_wrap, #main_content_wrap{
  background:white;
  border-top: none;
  border-bottom: none;

}

#header_wrap .inner{
  padding: 30px 10px 1px 10px;
}

#main_content {
  padding-top: 1px;
}

body{
  font-size: 20px; 
}
