<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>


<body>

	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/blog/">Blog</a></li>
		</ul>
	</nav>

  <div id="main_content_wrap" class="outer">
	{{ content }}
  </div>

<div id="footer_wrap" class="outer">
	<footer>
		<ul>
			<li><a href="mailto:parth.khopkar96@gmail.com" target="_blank">email</a></li>
			<li><a href="https://github.com/parthkhopkar/" target="_blank">github</a></li>
			<li><a href="https://twitter.com/parthkhopkar/" target="_blank">twitter</a></li>
			</ul>
		</footer>
  </div>
	</body>
	</html>
